In [1]:
a = 51
b = 'pinky'
a,b

(51, 'pinky')

In [2]:
print(a,b)
print(b,a)

51 pinky
pinky 51

In [7]:
c,d = 36.000,'annie'

In [8]:
print(c,d)

36.0 annie

In [9]:
type(c)

float

In [10]:
g = '12.056'
type(g)

str

In [11]:
print(type(c))

<class 'float'>

In [12]:
a,c,g

(51, 36.0, '12.056')

In [13]:
a = input()
print(a,type(a))

26
26 <class 'str'>

In [14]:
b = input("Enter a value: ")
print(t,type(b))

Enter a value: pin
annie <class 'str'>

In [15]:
q = int(input("Enter integer value: "))
k = float(input("Enter Float Values: "))
print("Conversion of int value is: ",float(q))
print("Conversion of float value is: ",int(k))
print("Both cases in string is:"+"'"+str(q)+"'"+" "+"'"+str(k)+"'")

Enter integer value: 98
Enter Float Values: 67.77
Conversion of int value is:  98.0
Conversion of float value is:  67
Both cases in string is:'98' '67.77'