In [1]:
g = {45,'a',45,120,155,450,"Ritu"}
print(g)

{450, 'Ritu', 'a', 45, 120, 155}

In [2]:
h = {}
m = {2}
print(h,type(h))
print(m,type(m))

{} <class 'dict'>
{2} <class 'set'>

In [3]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [4]:
s1 = {34,67,"rocky",0,"likki"}
s1.add("pranavi")
print(s1)

{0, 34, 67, 'pranavi', 'likki', 'rocky'}

In [6]:
print(s1)
s1.pop()
print(s1)

{0, 34, 67, 'pranavi', 'likki', 'rocky'}
{34, 67, 'pranavi', 'likki', 'rocky'}

In [7]:
print(s1)
s1.pop()
print(s1)

{34, 67, 'pranavi', 'likki', 'rocky'}
{67, 'pranavi', 'likki', 'rocky'}

In [10]:
print(s1)
s1.remove('rocky')
print(s1)

{67, 'pranavi', 'likki', 'rocky'}
{67, 'pranavi', 'likki'}

In [11]:
print(s1)
s1.remove("pranavi")
print(s1)

{67, 'pranavi', 'likki'}
{67, 'likki'}

In [12]:
s2 = {45,8,32,5,6}
s3 = {1,2,5,7,6,123,456}
print(s2)
print(s3)
print(s3.union(s2))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}
{32, 1, 2, 5, 6, 7, 456, 8, 45, 123}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}

In [13]:
print(s2)
print(s3)
print(s3.intersection(s2))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}
{5, 6}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}

In [14]:
t = {'name':("ramu","suresh","tejaswini"),'age':20,'sal':[24.500,48.560]}
print(t,type(t))

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56]} <class 'dict'>

In [15]:
print(t['sal'][0])

24.5

In [16]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [17]:
print(t.keys())

dict_keys(['name', 'age', 'sal'])

In [18]:
print(t.values())

dict_values([('ramu', 'suresh', 'tejaswini'), 20, [24.5, 48.56]])

In [19]:
y = {'name':"tilak","age":[45,59],"sal":0}
print(y)

{'name': 'tilak', 'age': [45, 59], 'sal': 0}

In [20]:
print(t.get('name'))
print(t.get('age'))
print(t.get('no'))

('ramu', 'suresh', 'tejaswini')
20
None

In [21]:
print(t)
t['no'] = [12,78,89,450]
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56]}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': [12, 78, 89, 450]}

In [22]:
print(t)
t['no'] = "shalni"
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': [12, 78, 89, 450]}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'shalni'}

In [23]:
print(t)
t.setdefault('tr')
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'shalni'}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'shalni', 'tr': None}

In [24]:
print(t)
t.update({'tr':45})
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'shalni', 'tr': None}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'shalni', 'tr': 45}

In [25]:
print(t.update({'tr':"ramu"}))

None

In [26]:
print(t)
print(t.pop('age'))
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'shalni', 'tr': 'ramu'}
20
{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24.5, 48.56], 'no': 'shalni', 'tr': 'ramu'}

In [27]:
print(t)
print(t.popitem())
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24.5, 48.56], 'no': 'shalni', 'tr': 'ramu'}
('tr', 'ramu')
{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24.5, 48.56], 'no': 'shalni'}

In [28]:
q = ['name','age','sal']
w = 78
print(q)
print(w)
f= {}
f.fromkeys(q,w)
print(f)

['name', 'age', 'sal']
78
{}

In [29]:
t = {'name':"ramu",'sno':1}
t1 = {}
t1 = t.fromkeys(q,w)
print(t1)

{'name': 78, 'age': 78, 'sal': 78}

In [30]:
marks = {}.fromkeys(["Maths","Python","C++"],[0,45])
print(marks)

{'Maths': [0, 45], 'Python': [0, 45], 'C++': [0, 45]}